<!DOCTYPE html>
<html lang="en">

<head>
    <title>Enter Bearer Token Here</title>
</head>

<body>
    
    {{!-- <form action="/index" method="post">
        <!-- user input-->
        Bearer Token<br>
        <input type="text" name="token" placeholder="Token" required><br><br>
        <!-- submit button -->
        <input type="submit" value="login">
    </form> --}}
    <a href="/weatherinput">
        Login
    </a>
</body>

</html>



<html>

<body>