<!DOCTYPE html>
<html lang="en">

<head>
    <title>Enter Bearer Token Here</title>
</head>

<body>
    <form action="//members.osiolabs.com/login" method="post">
        <!-- user input-->
        Bearer Token<br>
        <input type="text" name="token" placeholder="Token" required><br><br>
        <!-- submit button -->
        <input type="submit" value="login">
    </form>
</body>

</html>
